

/* INDICE */
/* 1= LOGO */
/* 2= MENU  */
/* 3 TABS */
/* 4= PREGUNTAS ACORDION */
/* 5= FOOTER */

* {
    margin: 0;
   padding: 0;
   box-sizing: border-box; 
 }
 body {
  
  color: #fff;
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box !important;
 background: linear-gradient(0deg,#fff,#f5f5f5);
}


.container-artisan{

  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

/* imagen afip */

.social-icons .imgert {
  width: 3rem;
}
/* imagen afip  */


/* 1= LOGO */
.fondoimagen{
   
  position: fixed;
  z-index: 10;
  top: 0;
  background: white;
  border-radius: 100%;
  padding: 27vw 15vw 14vw 27vw ;
  margin-top: -16vw ;
  margin-left: 65vw ;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
   
}
.logo-main{
  display: none;
}
.logo-main-dos{
  width: 21vw ;
    position: absolute;
    margin-top: -10.5vw;
    margin-left: -19vw;
}
/* 1= LOGO  +++END+++*/

/* 2= MENU  */
.contenedordemenu
{
    
    display:none;
    /*arriba  derecha abajo izquierda*/
}
/* 2= MENU  +++END+++ */
 
/* 3 TABS */


.container-creative {
  max-width: 62.4rem;
  margin: 8rem auto 3rem auto;
  background: #fff;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.25);
  border-radius: 19px;
}

 .image-creative {
   width: 100%;
 }
 

 
 /* Tab Button */
 .tab {
     margin: 10px 0 0 0;
     /* arriba derecha abajo izquirda */
   display: grid;
   grid-template-columns: 1fr;
   grid-auto-rows: 4rem;
 }
 
 .tab button {
   background: #FAFAFA;
   border: none;
   cursor: pointer;
   outline: none;
   transition: all .5s ease;
 }


 
 .tab button:hover {
   background: #fff;
 }

 .button-wrap .titulo-creative {
  margin-top: .8rem ;
  color: #333 ;
  opacity: 0.6 ;
  transition: all .5s ease ;
}

.tab button:hover .titulo-creative {
  opacity: 1 ;
}

 
 
 .button-wrap img {
   width: 30%;
   fill: #3483fa;  
 }
 
 /* Tab Content */
 .tabContent {
   
    line-height: 1.6;
   display: none;
   animation: fadeEffect 1s;
   
 }
 
 .tab img {
  display: none;
}

.tabContent-wrap {
  flex-direction: column;
  display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 4rem;
}
.tabContent-des{
  padding: 0 2rem 0 3rem;
}

.tabContent-img {
  text-align: center;

}

.tabContent-img .image-creative {
  width: 100%;
}


 @keyframes fadeEffect {
   from {
     opacity: 0;
     transform: translateX(-200px);
   }
   to {opacity: 1;}
 }

 
 
 .tabContent-des h5 {
   color: #3483fa; 
   font-size: 1.6rem;
   margin: 0 3rem 0 3rem;
   margin-bottom: .5rem;
   
 }
 
 .tabContent-des p {
   color: #333;
   opacity: 0.6;
   width: 76vw;
   margin: 0 3rem 0 3rem;
 }
 .tabContent-des ul {
    color: #333;
    opacity: 0.6;
    font-size: 14px;
    font-weight: 600;
    margin: .5rem 3rem 0 3rem;
 }
 
 
 .tabContent-img {
   text-align: right;
 }
 
 .tabContent-wrap .image-creative {
   width: 70%;
   text-align: right;
 }
 

/* 3 TABS */

/* 4= PREGUNTAS ACORDION */



.accordion {
  width: 100%;
  max-width: 1000px;
  margin: 3rem auto;
}
.accordion-item {
  background-color: #fff;
  color: #111;
  margin: 1rem 0;
  border-radius: 1rem;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.25);
}
.accordion-item-header {
  padding: 0.5rem 3rem 0.5rem 1rem;
  min-height: 3.5rem;
  line-height: 1.25rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.accordion-item-header::after {
  content: "\002B";
  font-size: 2rem;
  position: absolute;
  right: 1rem;
}
.accordion-item-header.active::after {
  content: "\2212";
}
.accordion-item-body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.accordion-item-body-content {
  padding: 1rem;
  line-height: 1.5rem;
  border-top: 1px solid;
  border-image: linear-gradient(to right, transparent, #34495e, transparent) 1;
 margin: 0 10px 0 15px;
}

/* 4= PREGUNTAS ACORDION */


/* 5= FOOTER */

/* 13= -----------------FOOTER------------------- */

.site-footer {
  background-color: #fff;
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: black;
  font-weight: 500;
  box-shadow: 0 1px 9px rgba(0, 0, 0, 0.2);
}
.site-footer hr {
  border-top-color: black;
  opacity: 0.5;
}
.site-footer hr.small {
  margin: 20px 0;
}
.site-footer h6 {
  color: black;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px;
}
.site-footer a {
  color: black;
  font-weight: 500;
}
.site-footer a:hover {
  color: #3366cc;
  text-decoration: none;
}
.footer-links {
  padding-left: 0;
  list-style: none;
}
.footer-links li {
  display: block;
}
.footer-links a {
  color: black;
  font-weight: 500;
}
.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
  color: #3366cc;
  text-decoration: none;
}
.footer-links.inline li {
  display: inline-block;
}
.site-footer .social-icons {
  text-align: right;
}
.site-footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: #33353d;
}
.copyright-text {
  margin: 0;
}

@media (max-width: 991px) {
  .site-footer [class^="col-"] {
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .site-footer {
    padding-bottom: 0;
  }
  .site-footer .copyright-text,
  .site-footer .social-icons {
    text-align: center;
  }
}
.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.social-icons li {
  display: inline-block;
  margin-bottom: 4px;
}
.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: black;
  font-weight: 700;
  font-size: 13px;
}
.social-icons a {
  background-color: black;
  color: black;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  color: black;
  background-color: #29aafe;
}
.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px;
}
.social-icons a.facebook:hover {
  background-color: #3b5998;
}
.social-icons a.twitter:hover {
  background-color: #00aced;
}
.social-icons a.linkedin:hover {
  background-color: #007bb6;
}
.social-icons a.dribbble:hover {
  background-color: #ea4c89;
}
@media (max-width: 767px) {
  .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600;
  }
}
/* 5= FOOTER +++END+++*/


/*------- MEDIA QUERIESSS----- */

@media (min-width:768px){

  /* logo */

  .logo-main{
    display: block;
    width: 17vw;
   
  }
  .fondoimagen{
    
    position: absolute;
    z-index: 0;
    top: 0;
    background: 0;
    border-radius: 0;
    padding:0 !important;
    margin-top: 0 !important;
    margin-left: 0 !important;
    background: transparent !important;
    box-shadow: none;
    transform: translateX(40%) !important;
  }
  .logo-main-dos{
    display: none;
   
     }
     
  

/* logo +++ */
/* MENU  */

.contenedordemenu
{

position: relative;
display: flex;
justify-content: center;
flex-direction: row;
width: 100%;

background: transparent;
z-index: 500;
transform: translateY(10%);
/*arriba  derecha abajo izquierda*/
}

.contenedordemenu li {
  list-style-type: none;
  display: inline-block;
  transition: .5s;
}
.contenedordemenu li:hover {
  transition: .5s;
  transform: scale(1.1);
}
.fondocirculodelicono {
 display: flex;
 justify-content: center;
 align-items: center;
 width:3.2rem !important;
 height: 3rem !important;
 border-radius: 20px;
 background-image: linear-gradient(to right top, #2678ee, #0093f5, #13aaf5, #53c0f1, #85d3ee);

 /* background: #f44336; */
 box-shadow: 0 10px 30px rgba(0,0,0,.4);
 color: white;
 
 margin: 15px;
}
.contenedordemenu a {
  color: transparent;
}
.iconoadentrodelcirculo {
 font-size: 1.8rem !important;
}

.textoicono {
 display: flex;
 justify-content: center;
 align-items: center;
 color: #212121;
 font-size: 1.1rem !important;
}

.adm {
 background: #EF4848;
}

/*  MENU +++END+++  */


/*  3 TABS */ 


.container-creative {
  max-width: 62.4rem;
  margin: 1rem 0 1rem 0;
  background: #fff;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.25);
  border-radius: 19px;
  
 
}

/* Tab Button */
.tab {
    margin: 10px 0 0 0;
    /* arriba derecha abajo izquirda */
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 7rem;
}

.tab button {
  background: #FAFAFA;
  border: none;
  cursor: pointer;
  outline: none;
  transition: all .5s ease;
}

.tab button:hover {
  background: #fff;
}

.dos {
   position: relative;
   top: -7px;
}
.cuatro {
   position: relative;
   top: -7.5px;
}
.button-wrap .titulo-creative {
  margin-top: .8rem ;
  color: #333 ;
  opacity: 0.6 ;
  transition: all .5s ease ;
}

.tab button:hover .titulo-creative {
  opacity: 1 ;
}

.button-wrap img {
  width: 30%;
  fill: #3483fa;  
}

/* Tab Content */
.tabContent {
   
   line-height: 1.6;
  display: none;
  animation: fadeEffect 1s;
}

@keyframes fadeEffect {
  from {
    opacity: 0;
    transform: translateX(-200px);
  }
  to {opacity: 1;}
}

.showContent {
  display: block;
}

.tabContent-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4rem;
}

.tabContent-des h5 {
  color: #3483fa; 
  font-size: 1.6rem;
  margin: 0;
}

.tabContent-des p {
  color: #333;
  opacity: 0.6;
  margin: 0;
}
.tabContent-des ul {
   color: #333;
   opacity: 0.6;
   font-size: 14px;
   font-weight: 600;
   margin: 0 0 0 17px;
}

.tabContent-img {
  text-align: right;
}

.tabContent-wrap .image-creative {
  width: 70%;
  text-align: right;
}


 .dos {
    position: relative;
    top: 0.5px;
}
.cuatro {
    position: relative;
    top: 1px;
}  
}

/* 3 TABS  ++END++ */


@media (min-width:1024px){
  .container-creative{
    margin: 0 auto 0 auto;
  }
}

@media (min-width:1200px){


  .logo-main{
   width: 8rem;
   transform: translateX(140%);
  }
  

  .tab img {
    display: inline;
  }

  .container-creative {
    max-width: 62.4rem;
    margin: 2rem auto 4rem auto;
    background: #fff;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.25);
    border-radius: 19px;
  }
  
  /* Tab Button */
  .tab {
      margin: 10px 0 0 0;
      /* arriba derecha abajo izquirda */
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 7rem;
  }
  
  .tab button {
    background: #FAFAFA;
    border: none;
    cursor: pointer;
    outline: none;
    transition: all .5s ease;
  }
  
  .tab button:hover {
    background: #fff;
  }
  
 .dos {
     position: relative;
     top: -7px;
 }
 .cuatro {
     position: relative;
     top: -7.5px;
 }
  .button-wrap .titulo-creative {
    margin-top: .8rem ;
    color: #333 ;
    opacity: 0.6 ;
    transition: all .5s ease ;
  }
  
  .tab button:hover .titulo-creative {
    opacity: 1 ;
  }
  
  .button-wrap img {
    width: 30%;
    fill: #3483fa;  
  }
  
  /* Tab Content */
  .tabContent {
    
     line-height: 1.6;
    display: none;
    animation: fadeEffect 1s;
    margin: 2.5rem 0 2.5rem 0;
  }
  
  @keyframes fadeEffect {
    from {
      opacity: 0;
      transform: translateX(-200px);
    }
    to {opacity: 1;}
  }
  
  .showContent {
    display: block;
  }
  
  .tabContent-wrap {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 1rem;
  }

  
  .tabContent-des h5 {
    color: #3483fa; 
    font-size: 1.6rem;
    margin-bottom: .5rem;
  }
  
  .tabContent-des p {
    color: #333;
    opacity: 0.6;
    width: 30vw;
    margin: 0 auto 0 auto;
  }
  .tabContent-des ul {
     color: #333;
     opacity: 0.6;
     font-size: 14px;
     font-weight: 600;
     margin: 0 0 0 17px;
  }
  
  
  
   @keyframes fadeEffect {
     from {
       opacity: 0;
       transform: translateX(-200px);
     }
     to {opacity: 1;}
   }
  
  /* 4= PREGUNTAS ACORDION */



.accordion {
  width: 100%;
  max-width: 1000px;
  margin: 1rem auto 12rem auto;
}

.accordion-item-header {
  padding: 0.5rem 3rem 0.5rem 1rem;
  height: 5rem;
  line-height: 1.25rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.accordion-item-header::after {
  content: "\002B";
  font-size: 2rem;
  position: absolute;
  right: 1rem;
}
  
}

@media (min-width:1400px){


  .logo-main{
   width: 8rem;
   transform: translateX(230%);
  }
}

@media (min-width:1920px){

  
  .logo-main{
    width: 9rem;
    transform: translateX(350%);
   }
  .accordion{
    margin: 1rem auto 14rem auto;
  }
}
@media (min-width:3500px){
  .accordion{
    margin: 1rem auto 102rem auto;
  }
}



