<ifModule mod_rewrite.c>

RewriteEngine on
ErrorDocument 404  https://192.168.8.160/expressweb/error/

RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f

RewriteRule ^(.*)/(.*) index.php?controller=$1&action=$2

</ifModule>

